.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: calc(1.5vmin);
}

.App-footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: white;
}
.App-content {
  background-color: white;
  background-image: url('landscape10.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  font-size: calc(1.5vmin);
  padding-bottom: 20px;
  
}
.generalForm {
  background-color: white;
  border: solid;
  box-shadow: 5px 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
}

.col-1, .col-2, .col-3 {
  display:flex;
  gap:10px;
  margin:5px;
}

.button{
  display:flex;
  padding-top: 10px;
  align-self: center;
  justify-content: center;
  
}
button{
  font-size: calc(1.5vmin);
}
.generalForm2{
  background-color: white;
  border:solid;
  box-shadow: 5px 10px; 
  gap:10px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.generalFormx{
  background-color: white;
  gap:10px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border:solid;
}
.col-1x, .col-2x, .col-3x, .col-4x {
  display:flex;
  gap:10px;
  margin:5px;
  padding:5px;
  width: 500px;
  padding-top: 10px;
}
.generalForm5{
  background-color: white;
  
   
  gap:10px;

  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
 
  justify-content: center;
  border:solid;
}
.col-15,.col-25,.col-35,.col-45,.col-55 {
  display:flex;
  gap:10px;
  margin:5px;
  padding:5px;
  width: 500px;
  padding-top:10px;
}

